<!DOCTYPE html>

    <head>
        <title>book searcher</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" href="/static/styles/pagestyle.css">
    </head>
	
    <body>
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="col1">
                    <h1>log in</h1>
                </div>
              </div>
              <div class="col">
                <div class="col2">
                    <h1>register</h1>
                </div>
              </div>
            </div>
        </div>
    </body>

</html>